$font-family-title: var(--font-lora), sans-serif;
$font-family-text: var(--font-inter), sans-serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Light Mode Colors
$primary-color-light: #1fc3cf;
$low-emphasis-light: #eff4f7;
$medium-emphasis-light: #828282;
$background-color-light: #fbfeff;
$text-color-light: #121314;

// Dark Mode Colors
$primary-color-dark: #1fc3cf;
$low-emphasis-dark: #eff4f7;
$medium-emphasis-dark: #b6b6b6;
$background-color-dark: #121212;
$text-color-dark: #e0e0e0;
