@import "~bootstrap/scss/bootstrap";
@import "./partials/reset";
@import "./partials/variables";
@import "./partials/modal";

:root {
  --primary-color: #{$primary-color-light};
  --low-emphasis: #{$low-emphasis-light};
  --medium-emphasis: #{$medium-emphasis-light};
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
  --border-color: #{$border-color-light};
}

html.dark {
  --primary-color: #{$primary-color-dark};
  --low-emphasis: #{$low-emphasis-dark};
  --medium-emphasis: #{$medium-emphasis-dark};
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
  --border-color: #{$border-color-dark};
}

html:lang(ja) {
  p,
  li {
    font-size: 0.9rem;
  }
}

body {
  font-family: $font-family-text;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: var(--text-color);
}

p {
  color: var(--medium-emphasis);
}

#root {
  position: relative;
  overflow: hidden;
}

#main {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 60px;
}

svg {
  stroke: var(--text-color);
  stroke-width: 1.6px;
}

// temp
.cls-1 {
  fill: none;
  stroke: var(--text-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

#illustration {
  position: absolute;
  left: 10%;
  top: -1px;
}

@media (max-width: #{$breakpoint-sm}) {
  .cls-1 {
    stroke-width: 2px;
  }
  #illustration {
    position: absolute;
    left: 0;
    top: 3rem;
  }
}

.section-number {
  color: #fff;
  -webkit-text-stroke: 1px var(--text-codlor);
  text-stroke: var(--text-color);
  font-size: 90px;
}

section {
  margin-bottom: 2rem;
}
