@import "~bootstrap/scss/bootstrap";
@import "./partials/reset";
@import "./partials/variables";

body {
  font-family: $font-family-text;
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
}

p {
  color: $medium-emphasis;
}

#root {
  position: relative;
  overflow: hidden;
}

#main {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1025px;
  margin-top: 60px;
}
