@use "../styles/partials/variables" as variables;

.container {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 1000;
}

.switcherButton {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease;
}

.switcherButtonLang {
  width: 1.6rem;
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 500;
}

@media (max-width: variables.$breakpoint-md) {
  .container {
    top: 2rem;
    right: 2rem;
  }
}
@media (max-width: variables.$breakpoint-sm) {
  .container {
    top: 1.4rem;
    right: 1rem;
  }
}
