@import "../styles/partials/variables";

.container {
  display: none;
}

@media screen and (min-width: 1025px) {
  .container {
    position: fixed;
    bottom: 0px;
    left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    svg {
      stroke: $primary-color;
    }
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 90px;
      margin: 0px auto;
      background-color: $primary-color;
    }
  }
}
