$icon-size: 25px;

.social {
  display: none;
}

@media screen and (min-width: 1025px) {
  .sidebarContainer {
    position: fixed;
    left: 3rem;
    top: 3rem;
    z-index: 1000;
  }

  .sectionList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sectionItem {
    margin-bottom: 10px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:hover,
      &.active {
        color: var(--primary-color);
      }
    }
  }

  .sectionKey {
    font-size: 14px;
    margin-right: 10px;
  }

  .sectionTitle {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
  }

  .socialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 3rem;
    z-index: 1000;

    .social {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: $icon-size;
      gap: 10px;
    }
    .line {
      margin-top: 10px;
      height: 100px;
    }
  }
}
